# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: Google
ColumnLimit: 120
IndentWidth: 2
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
IncludeBlocks: Preserve
IndentPPDirectives: BeforeHash